.folderWrapper {
  position: relative;
  text-align: center;
  background-color: var(--mantine-color-primary-4);
  overflow: hidden;
  border: none;
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.folder {
  width: 100%;
  display: block;
  top: 15px;
  left: 25px;
}

/* .folder::before { */
/*   content: ''; */
/*   width: 50%; */
/*   height: 30px; */
/*   border-radius: 0 0 0 20px; */
/*   display: block; */
/*   background-color: var(--mantine-color-white); */
/*   position: absolute; */
/*   top: 0px; */
/*   right: -1px; */
/* } */
